---
---

@import "{{ site.theme }}";

header h1 {
  font-size: 28px !important;  // Default is 32px, adjust as needed
  line-height: 1.2;
}

footer {
  display: none !important;  // This removes the footer completely
}
